<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}
    {% endblock %}
    <title>Клуб по бегу</title>
</head>
<body>
<nav class="flex justify-between text-3xl my-3">
    <ul>
        <li>
            Клуб по бегу
        </li>
    </ul>
    <ul class="flex gap-5 mr-10">
        <a href="members" class="no-underline hover:underline ...">
            Участники
        </a>
        <a href="trainers" class="no-underline hover:underline ...">
            Тренера
        </a>
        <a href="ranks" class="no-underline hover:underline ...">
            Разряды
        </a>
        <a href="classes" class="no-underline hover:underline ...">
            Занятия
        </a>
        <a href="events" class="no-underline hover:underline ...">
            Мероприятия
        </a>
        <a href="participation" class="no-underline hover:underline ...">
            Участия
        </a>
        <a href="records" class="no-underline hover:underline ...">
            Рекорды
        </a>
    </ul>
    <ul class="flex gap-5 mr-10">
        <button class="no-underline hover:underline ..." onclick="logout()" type="button">
            выйти
        </button>
    </ul>
</nav>
<hr>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
<script>
    let options = {
            method: "POST"
        };
    function logout() {
        fetch("/auth/jwt/logout", options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                window.location.href = "/";
                return response.json();
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }
</script>
</html>