<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}
    {% endblock %}
    <title>Клуб по бегу</title>
</head>
<body>
<nav class="flex justify-between text-3xl my-3">
    <ul>
        <li>
            Клуб по бегу
        </li>
    </ul>
    <ul class="flex gap-5 mr-10">
        <a href="members" class="no-underline hover:underline ...">
            Участники
        </a>
        <a href="trainers" class="no-underline hover:underline ...">
            Тренера
        </a>
        <a href="ranks" class="no-underline hover:underline ...">
            Разряды
        </a>
        <a href="classes" class="no-underline hover:underline ...">
            Занятия
        </a>
        <a href="events" class="no-underline hover:underline ...">
            Мероприятия
        </a>
        <a href="participation" class="no-underline hover:underline ...">
            Участия
        </a>
        <a href="records" class="no-underline hover:underline ...">
            Рекорды
        </a>
    </ul>
    <ul class="flex gap-5 mr-10">
        <button class="no-underline hover:underline ..." onclick="logout()" type="button">
            выйти
        </button>
    </ul>
</nav>
<hr>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
<script>

    function logout() {
        let options = {
            method: "POST"
        };
        fetch("/auth/jwt/logout", options)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                window.location.href = "/";
                return response.json();
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }

    function addMember() {
        const error_div = document.querySelector("#error_message")
        let formData = {
            surname: document.querySelector("#surname_to_add").value,
            name: document.querySelector("#name_to_add").value,
            patronymic: document.querySelector("#patronymic_to_add").value,
            birth_date: document.querySelector("#birth_date_to_add").value
        }
        let options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        };
        // Отправка fetch-запроса
        fetch("/admin/members/insert", options)
            .then(response => {
                if (!response.ok) {
                    error_div.style.display = "block"
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                window.location.href = "/admin/members";
                return response.json();
            })
            .then(data => {
                console.log(data)
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }

    function updateMember(mem_id) {
        const error_div = document.querySelector("#error_message")
        error_div.style.display = "none";
        let formData = {
            id: mem_id,
            surname: document.querySelector("#_"+ mem_id.toString() + "_1").value,
            name: document.querySelector("#_"+ mem_id.toString() + "_2").value,
            patronymic: document.querySelector("#_"+ mem_id.toString() + "_3").value,
            birth_date: document.querySelector("#_"+ mem_id.toString() + "_4").value
        }
        console.log(formData)
        let options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        };
        // Отправка fetch-запроса
        fetch("/admin/members/update", options)
            .then(response => {
                if (!response.ok) {
                    error_div.style.display = "block"
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                window.location.href = "/admin/members";
                return response.json();
            })
            .then(data => {
                console.log(data)
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }


    function deleteMember(mem_id) {
        let formData = {
            id: mem_id
        }
        let options = {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(formData)
        };
        // Отправка fetch-запроса
        fetch("/admin/members/delete", options)
            .then(response => {
                if (!response.ok) {
                    error_div.style.display = "block"
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                window.location.href = "/admin/members";
                return response.json();
            })
            .then(data => {
                console.log(data)
            })
            .catch(error => {
                console.error('Fetch error:', error);
            });
    }
</script>
</html>