{% extends "base_admin.html" %}
{% block head %}
    <script>
        const searchForOperation = () => {
            const searchInputValue = document.getElementById("operation_search").value;
            window.location.href = `../crud/search/${searchInputValue}`;
        }
    </script>
    <style>
        input::placeholder {
            opacity: 100;
            color: black;
            font-size: 1.2em;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="flex justify-center flex-col items-center" style="margin-top: 8px">

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3"> id</th>
                    <th scope="col" class="px-6 py-3"> Фамилия</th>
                    <th scope="col" class="px-6 py-3"> Имя</th>
                    <th scope="col" class="px-6 py-3"> Отчество</th>
                    <th scope="col" class="px-6 py-3"> Дата рождения</th>
                    <th scope="col" class="px-6 py-3"> действие</th>
                </tr>
                </thead>
                <tbody>
                <!-- поля -->
                {% for row in range(data|length) %}
                    <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                        {% for val in range(data[row]|length) %}
                            {% if data[row][val] != None %}
                                {% if val == 0 %}
                                    <td class="px-6 py-4">
                                        {{ data[row][0] }}
                                    </td>
                                {% else %}

                                    <td class="px-6 py-4">
                                        <form>
                                            <input type="text" id="{{"_" ~ data[row][0] ~ "_" ~ val }}"
                                                   style="color: grey; font-size: 2ex; background: transparent"
                                                   value="{{ data[row][val] }} ">
                                        </form>
                                    </td>
                                {% endif %}
                            {% else %}
                                <td class="px-6 py-4"> —</td>
                            {% endif %}
                        {% endfor %}
                        <td class="px-6 py-4">
                            <button type="button" onclick="updateMember({{ data[row][0] }})"
                                    class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                                Edit
                            </button>
                            <button type="button" onclick="deleteMember({{ data[row][0] }})"
                                    class="font-medium hover:underline" STYLE="color: tomato">
                                Delete
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                <!-- add -->
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                    <td class="px-6 py-4"></td>
                    <td class="px-6 py-4">
                        <form>
                            <input type="text" style="color: grey; background: transparent" id="surname_to_add"
                                   placeholder="Фамилия">
                        </form>
                    </td>
                    <td class="px-6 py-4">
                        <form>
                            <input type="text" style="color: grey; background: transparent" id="name_to_add"
                                   placeholder="Имя">
                        </form>
                    </td>
                    <td class="px-6 py-4">
                        <form>
                            <input type="text" style="color: grey; background: transparent" id="patronymic_to_add"
                                   placeholder="Отчество">
                        </form>
                    </td>
                    <td class="px-6 py-4">
                        <form>
                            <input type="text" style="color: grey; background: transparent"
                                   pattern="\d{4}-\d{1,2}-\d{1,2}" id="birth_date_to_add"
                                   placeholder="Дата Рождения">
                        </form>
                    </td>

                    <td class="px-6 py-4">
                        <button type="button" onclick="addMember()"
                                class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                            Add
                        </button>
                    </td>
                </tr>
                <div id="error_message" style="color: tomato; display: none">
                    Ошибка ввода данных
                </div>
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}